@use 'sass:color';

$grey0: rgba(33, 34, 35, 0.8);
$grey1: rgba(66, 68, 70, 0.8);
$white: rgba(238, 238, 204, 1);

$surface: rgba(30, 16, 12, 1);

$fg: $white;
$bg: #{$grey0};
$bg_muted: #{$grey1};

$primary: rgba(150, 120, 230, 1);

$buttonDisabled: $surface;
$buttonDisabledHover: color.adjust($buttonDisabled, $alpha: +0.39);

$buttonEnabled: color.adjust($primary, $alpha: -0.8);
$buttonEnabledHover: color.adjust($buttonEnabled, $alpha: +0.1);
