@use '../common' as *;

popover {
    arrow,
    contents {
        background-color: $bg;
    }
}

.debug {
    background-color: rgba(122, 122, 0, 0.8);
}

button {
    transition: 800ms;
    padding: 0.15em;
    background-color: transparent;
    color: $fg;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

button:active {
    background-color: rgba(255, 255, 255, 0.3);
}
